.navbar_section{
    border-bottom: solid white;
    border-radius: 2px;
    background-color: black;
    max-width: 133rem;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar_logo {
    margin-left: 2rem;
    width: 14.5rem;
    height: 100%;

    @media (max-width: 1000px) {
        width: 100px;
        margin-left: 0;
    }
}

.navbar_logo img {
    max-width: 100px;
    max-height: 90%;
    width: 100px;
    height: 90%;
}

.navbar_links {
    display:flex;
    list-style: none;
    gap: 4rem;
    margin-right: 2rem;

    @media (max-width: 1000px) {
        display: none;
    }
}

.navbar_links a {
    text-decoration: none;
    font-weight: 400;
    font-size: 0.7rem;
    color: white;
}

.navbar_links a:hover{
    color: #F7c414;
    transition: 0.2s;
}

.navbar_btns {
    display: flex;
    gap: 2.5rem;
    font-size: 0.7rem;
    font-weight: 400;
    align-items: center;
    margin-right: 1rem;

    @media (max-width: 1000px) {
        display: none;
    }
}

.sign-in {
    color: white;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}

.sign-in:hover {
    color: #F7c414;
    transition: 0.2s;
}

.register {
    text-decoration: none;
    background-color: #F7c414;
    color: black;
    padding: 1rem 3rem;
    border-radius: 3px;
}

.register:hover {
    background-color: white;
    color: black;
    transition: 0.2s;
}

.mobile_navbar {
    display: none;
    @media (max-width: 1000px) {
        display: flex;
    }
}

.mobile_navbar img {
    margin-right: 1.5rem;
}

.menu_panel {
    outline: solid white;
    width: 100%;
    height: 300px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.hamburger_close {
    float: right;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
}

.hamburger_links {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    gap: 20px;
}

.hamb_link {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.hamb_link:hover {
    color: #F7c414;
    transition: 0.2s;
}


